# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
# !pip install gmaps
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv("weather_city_data.csv")
city_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Norman Wells,75,CA,1586727337,47,65.28,-126.83,35.60,10.29
1,1,Saldanha,0,ZA,1586727337,82,-33.01,17.94,57.20,3.36
2,2,Cape Town,0,ZA,1586727067,82,-33.93,18.42,57.00,4.70
3,3,Atuona,4,PF,1586727337,71,-9.80,-139.03,82.06,6.04
4,4,Hermanus,10,ZA,1586727337,92,-34.42,19.23,57.00,1.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# testing subset 
subset = city_df.iloc[0:20, [1,2,3,4,5,6,7,8,9]]


print(type(subset))
subset

<class 'pandas.core.frame.DataFrame'>

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Norman Wells,75,CA,1586727337,47,65.28,-126.83,35.60,10.29
1,Saldanha,0,ZA,1586727337,82,-33.01,17.94,57.20,3.36
2,Cape Town,0,ZA,1586727067,82,-33.93,18.42,57.00,4.70
3,Atuona,4,PF,1586727337,71,-9.80,-139.03,82.06,6.04
4,Hermanus,10,ZA,1586727337,92,-34.42,19.23,57.00,1.99
5,Arrecife,20,ES,1586727338,63,28.96,-13.55,66.20,8.05
6,Ngunguru,4,NZ,1586727338,86,-35.62,174.50,66.00,3.00
7,Ambilobe,48,MG,1586727338,82,-13.20,49.05,74.88,5.17
8,Severo-Kuril'sk,88,RU,1586727338,94,50.68,156.12,30.36,8.52
9,Airai,43,TL,1586727338,74,-8.93,125.41,61.77,1.68
10,Vostok,0,RU,1586727338,72,46.49,135.88,29.21,2.19
11,Rikitea,67,PF,1586727334,84,-23.12,-134.97,78.13,15.46
12,Hilo,40,US,1586727333,65,19.73,-155.09,82.40,10.29
13,Lang Son,100,VN,1586727339,68,21.83,106.73,58.50,3.00
14,Port Hardy,40,CA,1586727339,34,50.70,-127.42,53.60,4.70
15,Jamestown,90,US,1586727058,36,42.10,-79.24,68.00,12.75
16,Busselton,72,AU,1586727339,70,-33.65,115.33,63.00,9.28
17,Grand Gaube,40,MU,1586727339,74,-20.01,57.66,78.80,11.41
18,Broome,90,US,1586727339,29,42.25,-75.83,63.00,11.41
19,Hobyo,9,SO,1586727339,75,5.35,48.53,83.52,10.49

In [4]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [5]:
# testing subset 

gmaps.configure(api_key=g_key)

locations1 = subset[["Lat", "Lng"]].astype(float)
humidity1 = subset["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations1, weights=humidity1, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap for full list

locations = city_df[["Lat", "Lng"]].astype(float)
humidity = city_df["Humidity"].astype(float)


fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:

ideal_weather=city_df.loc[(city_df["Max Temp"]<80) & 
                          (city_df["Max Temp"]>70) & 
                          (city_df["Wind Speed"]<10) & 
                          (city_df["Cloudiness"]==0), :]
print(f'Total number of cities that match these criteria: {len(ideal_weather)}')
      
ideal_weather

Total number of cities that match these criteria: 9

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
92,92,Ituiutaba,0,BR,1586727348,61,-18.97,-49.47,75.51,4.63
106,106,Avanigadda,0,IN,1586727350,88,16.02,80.92,76.53,3.24
116,116,Alegrete,0,BR,1586727351,49,-29.78,-55.79,71.01,7.90
252,252,Weligama,0,LK,1586726869,87,5.97,80.42,77.63,2.98
254,254,Mawlaik,0,MM,1586727368,43,23.63,94.42,71.31,2.33
340,340,Siocon,0,PH,1586727378,71,7.71,122.14,79.45,4.18
354,354,Dingle,0,PH,1586727380,78,11.00,122.67,76.19,2.24
393,393,Tura,0,IN,1586727385,33,25.52,90.22,70.25,1.41
427,427,Presidencia Roque S치enz Pe침a,0,AR,1586727389,44,-26.79,-60.44,77.49,3.89

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# continue on part 2!